<header>
    <div>
 <img class="title" src="/images/title.png" alt="">
    </div>
    <div class="menu">
      <a href="#">SOPORTE</a>
      <a href="/entradas">ENTRADAS</a>
    </div>
  </header>