<!DOCTYPE html>
<html>
 <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main>
      <h1 class="error">No se pudo procesar tu pedido, intente mas tarde!</h1>
    </main>
    <footer>
        <img src="/images/footer.jpg" alt="">
      </footer>
  </body>
</html>
