<!DOCTYPE html>
<html>
  <%- include("./partials/head") %>
  <body>
    <%- include("./partials/header") %>
    <main>
      <img class="banner" src="/images/banner.png" alt="" />
      <a class="verEntradas" href="/entradas">Ver Entradas</a>
      <div>
        <h4>
          LA NENA DE ARGENTINA AGOTA 2 RIVER Y MARCA UN RÉCORD HISTÓRICO EN EL
          PAÍS
        </h4>
        <p>
          Entre el 22 y 23 de marzo, más de 130 mil personas serán protagonistas
          de un nuevo hito para la música argentina: Maria Becerra será la
          primera artista argentina en tocar en River, estadio por donde pasaron
          las estrellas internacionales más significativas de la historia de la
          música.
        </p>
      </div>
      <div>
        <h4>Buenos Aires, 18 de diciembre de 2023</h4>
        <p>
          Como si fuese obra del destino, en 2023, una chica de 23 años, hace
          historia en Argentina. Maria Becerra acaba de agotar los tickets para
          los dos shows que dará los próximos 22 y 23 de marzo, en nada más y
          nada menos que el estadio de shows en vivo más importante de
          Argentina: River Plate.
        </p>
        <p>
          Con una carrera que nació en Quilmes a través de videos en Youtube,
          que la llevó luego a incursionar en la música y que desde el principio
          ubicó a Maria dentro de los primeros puestos en las listas más
          importantes del mundo, estos shows son el resultado del trabajo
          incansable de la artista, el equipo de trabajo que la acompaña desde
          sus inicios y el vínculo que genera en los corazones de millones de
          fans en el mundo. Maria comunicó su primer concierto en el estadio de
          Nuñez y automáticamente más de 750 mil personas hicieron fila en la
          plataforma de venta para hacer un sold-out total en 90 minutos.
        </p>
        <p>
          La segunda fecha ya era una exigencia para los miles de fans que
          deseaban compartir este momento histórico para la carrera de su
          artista favorita y que, pronto, cumplieron su promesa: el Sold Out de
          la segunda fecha se convirtió en hecho a pocas horas de salir a la
          venta.
        </p>
        <p>
          Con producción de DF Entertainment, LNDA, dirección creativa de
          Asalto, y management de NoEnd-Projects, Maria Becerra redobló su
          propio récord al convertirse en la primera artista mujer argentina en
          formar parte de la leyenda que envuelve tocar en River durante dos
          fechas consecutivas. Cerrando un año que deja en evidencia el gran
          momento de la artista, con más de 25 millones de oyentes mensuales en
          Spotify, más de 3 mil millones de visitas en Youtube y más de 30
          millones de seguidores en sus redes sociales.
        </p>
      </div>

      <div>
        <h3>Acerca de MARIA BECERRA</h3>
        <p>
          Maria Becerra actualmente cuenta con más de 25 millones de oyentes
          mensuales en Spotify y su canal oficial de Youtube más de 2.8 mil
          millones de visitas. Para este año tiene programadas ya diversas
          colaboraciones que irán saliendo hasta diciembre con artistas de
          distintas partes del mundo.
        </p>

        <p>
          En mayo del 2023 “TE CURA”, compuesta exclusivamente para FAST X
          (décima entrega de la saga Fast and Furious), actualmente supera los
          120 millones de reproducciones en las plataformas. En junio la artista
          sorprendió con el lanzamiento de “Corazón Vacío”, el tema más esperado
          por sus fans, y que ya ha acumulado en las distintas plataformas más
          de 225 millones de streams. Entre las colaboraciones más
          significativas del año están ¨El amor de mi vida¨ junto a Los Angeles
          Azules, ¨Así es la vida¨ con Enrique Iglesias y ¨Piscina¨ colaboración
          con Chencho Corleone y Ovy on the Drums. En noviembre obtuvo cuatro
          nominaciones a la 24ª edición de los Latin Grammy ® 2023: “Mejor
          Interpretación Reggaeton” y “Mejor Canción Urbana” por su éxito
          “Automático”, producida por Nico Cotton, “Mejor Fusión/Interpretación
          Urbana” con “Ojalá”, producido por Big One y una nominación a “Canción
          del año” por su colaboración con el cantante malagueño Pablo Alborán,
          “Amigos”.
        </p>

        <p>
          El álbum “LA NENA DE ARGENTINA”, lanzado en 2022, cuenta con 13
          canciones solistas. “AUTOMÁTICO” acumula más de 300 millones de
          reproducciones en Spotify y en el vídeo oficial. Mientras que el álbum
          ha superado los MIL MILLONES de streams combinados entre Spotify y
          Youtube.
        </p>

        <p>
          En 2022 recibió varios premios y reconocimientos importantes en su
          carrera. En los 40 Premios España, fue galardonada como Mejor Artista
          en Directo. Además, se alzó como ganadora en la categoría Mix Tropical
          en los Premios Juventud por su canción "Te espero". En los Premios Lo
          Nuestro 2022, recibió el prestigioso galardón por su exitoso tema
          "¿Qué más pues?". También brilló en los Premios Tu Música Urbano 2022,
          donde se llevó tres estatuillas: Top Rising Star Femenino, Canción del
          Año por "¿Qué más pues?", y Video del Año nuevo artista por el remix
          de "Entre Nosotros". En los Latin American Music Awards se consagró
          como el Mejor Nuevo Artista del Año. Por último, en los Premios Gardel
          2022, fue reconocida con dos premios por su colaboración en la canción
          "Miénteme" junto a Tini.
        </p>

        <p>
          Su primer álbum, ANIMAL, tiene más de 1.3 mil millones de
          reproducciones en las plataformas. Los videoclips “ANIMAL”,
          “ACARAMELAO”, “MI DEBILIDAD” y “WOW WOW” tienen más de 120 millones de
          visitas cada uno.
        </p>
        <!-- Otras secciones de información acerca de Maria Becerra -->
      </div>

      <div>
        <h3>SOBRE DF ENTERTAINMENT</h3>
        <p>
          DF Entertainment es la empresa líder de entretenimiento en vivo en
          Argentina. Fundada por Diego Finkelstein, quien cuenta con más de 20
          años de trayectoria dentro de la industria, la productora presentó el
          año pasado shows como Coldplay, Harry Styles, Dua Lipa, Rosalía,
          Maroon 5, C. Tangana, Guns N' Roses, Kiss, Metallica, Maneskin, Demi
          Lovato, entre muchos otros. Arrancó el 2023 con las exitosas
          presentaciones de Imagine Dragons en el Campo Argentino de Polo, el
          espectacular Lollapalooza Argentina en el Hipódromo de San Isidro con
          la presentación de Billie Elish, Drake, Rosalía, Twenty One Pilots,
          Tame Impala, Lil Nas X entre otros, Alicia Keys en el Movistar Arena y
          Pabllo Vittar y luego Flume en Complejo Art Media. El 2023 continúa
          con una multiplicidad de shows que tienen como protagonista a los
          festivales y conciertos más importantes y esperados de la agenda:
          Taylor Swift, Roger Waters, Red Hot Chili Peppers, The Weeknd, Tan
          Bionica, Duki, 5 Seconds of Summer, Usted Señalemelo, Danny Ocean,
          David Bisbal, Maneskin, Aitana, Diego Torres, Morat y Ruel entre
          muchos otros próximos a anunciar. El 2024 empieza a perfilarse y ya
          tiene shows alucinantes en la agenda como Jonas Brothers, María
          Becerra, David Bisbal, Tan Biónica, TURNSTILE, Afterlife y
          Lollapalooza. En 2018, el 51% de la empresa fue adquirida por Live
          Nation Entertainment, compañía líder del entretenimiento en vivo a
          nivel mundial. Esta combinación logra potenciar el alcance, la
          experiencia y los recursos para continuar evolucionando la oferta del
          entretenimiento en toda la región.
        </p>
        <!-- Más información sobre DF Entertainment -->
      </div>

      <div>
        <h3>SOBRE WARNER MUSIC GROUP</h3>
        <p>
          Como el hogar de 300 Elektra, Asylum, Atlantic, East West, FFRR,
          Fueled by Ramen, Nonesuch, Parlophone, Rhino, Roadrunner, Sire, Warner
          Records, Warner Classics y varios otros de los principales sellos
          discográficos del mundo, Warner Music Group defiende a artistas
          emergentes y superestrellas globales por igual. Nuestra reconocida
          editorial, Warner Chappell Music, representa a compositores y
          productores que abarcan el género a través de un catálogo de más de un
          millón de derechos de autor en todo el mundo. Somos el hogar de WMX,
          la división de servicios de próxima generación que conecta a los
          artistas con los fans y amplifica las marcas de manera creativa,
          inmersiva y atractiva, y de Alternative Distribution Alliance (ADA),
          la innovadora empresa de distribución global para artistas y sellos
          independientes. Juntos, somos Warner Music Group: Música con voz y
          visión.
        </p>
        <!-- Más información sobre Warner Music Group -->
      </div>

      <div>
        <h3>SOBRE ASALTO</h3>
        <p>
          Pensamos Asalto como una casa creativa en constante movimiento.
          Trabajamos con artistas, llevando adelante proyectos
          multidisciplinarios que resuelven identidades visuales, material de
          video y estructuras enteras de show. Nuestras ideas nacen del
          pensamiento en conjunto de nuestro equipo, dirigido por Julián Levy,
          conformado por productores, diseñadores, animadores y demás,
          apasionados por la música y la imagen en movimiento. Como equipo
          creativo de Maria Becerra, vimos nacer a una artista con una inmensa
          proyección que acompañamos desde el inicio en todos sus desafíos. Hoy
          podemos decir felices que hemos trabajado la identidad visual y el
          material de video para sus dos álbumes y lanzamientos en solitario, y
          producido shows en vivo a lo largo de toda Latinoamérica, Estados
          Unidos, México y Europa. Estamos orgullosos de continuar el desafío de
          escribir historia junto a quien hoy es la artista femenina más
          reconocida de Argentina, pisando la escena mundial como una número
          uno.
        </p>
        <!-- Más información sobre Asalto -->
      </div>

      <div>
        <h3>SOBRE NOEND-PROJECTS</h3>
        <p>
          Sello Discográfico, Editorial & Booking. Management de Maria Becerra,
          Xross y Joelle bajo la dirección de José Levy.
        </p>
        <!-- Más información sobre NoEnd-Projects -->
      </div>
      <div class="flyer">
        <img src="/images/flyer.png" alt="" />
      </div>
    </main>
    <footer>
      <img src="/images/footer.jpg" alt="" />
    </footer>
  </body>
</html>
